@model IndexViewModel
@using WebMarketplace.ViewModels
@using WebMarketplace.Data
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<IdentityUser> _signInManager;
@inject ApplicationDbContext _db;

@{
    ViewData["Title"] = "Home Page";
}
@if (_signInManager.IsSignedIn(User))
{
    <div class="profile">
        <div class="image" data-title="Change Avatar">
            @{
                var currentUser = User;
                var user = currentUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                var owner = _db.Users.First(id => id.Id == user);
                var countOfProducts = _db.Products.Count(good => good.User.Id == owner.Id);
                var goods = from good in _db.Products where good.User.Id != owner.Id select good;
            }
            <input type="checkbox" id="avatar-modal">
            <label class="change-avatar-label" for="avatar-modal"><img style="border-radius: 50px" width="200" height="220" src="@Url.Content(owner.Picture)" alt="" class="change-avatar"></label>
            
            <form asp-area="" asp-controller="Home" asp-action="ChangeAvatar" class="popup-avatar" enctype="multipart/form-data">
                <input type="file" name="uploadedFile" style="border-radius: 5px"/>
                <input type="submit" class="button-submit-avatar" value="Download">
            </form>
        </div>

        <div class="profile-data">
            <h1 style="color: var(--golden-puppy)">@owner.UserName</h1>
            <h3 style="color: var(--quick-silver)">Money: <span style="color: var(--golden-puppy)">@owner.Money</span></h3>
            <h3 style="color: var(--quick-silver)">Number Of Products for Sale: <span style="color: var(--golden-puppy)">@countOfProducts</span></h3>
        </div>
    </div>
    
    <section class="new-product">
        <div class="container">

            @foreach (var good in goods)
            {
                <div class="product-card">
                    <figure class="product-banner">
                        <img width="210" src="@Url.Content(good.Picture)" alt="">
                    </figure>

                    <div class="product-content">
                        <a href="#" class="h1 product-title text-center">@good.Title</a>
                        <div class="Product-meta">
                            <div class="product-price text-center">
                                <p>Cost:
                                <data>@good.Cost</data>
                            </div>
                            <div class="product-quantity text-center">
                                <p>Quantity:
                                <data>@good.Quantity</data>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </section>
    
    <div class="text-center">
        <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data" role="form">

            <h1 class="register-h1">Add Product</h1>
            <hr/>

            <div asp-validation-summary="All" class="custom-text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="text-form"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="custom-text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="text-form"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="custom-text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="text-form"></label>
                <input asp-for="Quantity" class="form-control"/>
                <span asp-validation-for="Quantity" class="custom-text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cost" class="text-form"></label>
                <input asp-for="Cost" class="form-control"/>
                <span asp-validation-for="Cost" class="custom-text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Picture" class="text-form">Picture (The file must be uploaded and must be in the .jpg format.)</label>
                <input class="form-control" type="file" name="uploadedFile"/>
            </div>
            <br/>

            <p>
                <button type="submit" class="btn">Add</button>
            </p>

        </form>
    </div>
}
else
{
    <section class="new-product-authorized">
        <div class="container">

            @foreach (var good in _db.Products)
            {
                <div class="product-card">
                    <figure class="product-banner">
                        <img src="@Url.Content(good.Picture)" alt="">
                    </figure>

                    <div class="product-content">
                        <a href="#" class="h1 product-title text-center">@good.Title</a>
                        <div class="Product-meta">
                            <div class="product-price text-center">
                                <p>Cost:
                                <data>@good.Cost</data>
                            </div>
                            <div class="product-quantity text-center">
                                <p>Quantity:
                                <data>@good.Quantity</data>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </section>
}
